:root{
  --mainGrey: #d9d9d9;
  --LightGrey: #e8e8e8;
<<<<<<< HEAD
  --mainWhite: #ffffff;
  --mainDark: #0E1024 ;
  --mainBlue: #C94343 ;
=======
  --mainWhite: #f3f3f3;
  --mainDark: #828282;
  --mainBlue: #1414ff;
>>>>>>> parent of 33ca9fa... Changing products and updates
}

body{
  font-family: "Roboto", sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.text-title{
  font-family: 'Rubik', sans-serif;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.company-name{
  font-family: 'Rubik', sans-serif !important;
  font-size: 0.8rem !important;
}

.text-blue{
  color:var(--mainBlue);
}

.text-bright{
  color:var(--mainGrey);
}

.btn-black{
  background:transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0 !important;
border: 0.1rem solid var(--mainDark) !important;
}

.btn-black:hover{
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;

}

.cart-icon{
  cursor:pointer;
  font-size: 1.2rem;
  color:var(--mainBlue);

}
